@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;1,200;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Poppins", sans-serif;
}

@layer components {
  .input {
    @apply border-b pb-2 focus:border-b focus:outline-none focus:border-b-[#6e6e6e] text-[#6e6e6e] font-dmSans font-normal  w-full;
  }

  .active .text {
    color: #f52225;
  }

  /* submit design */

  .submit {
    color: #fff;
    background: #f52225;
    border-color: #f52225 !important;
    height: 3rem !important;
    font-weight: 500 !important;
    margin-top: 2rem !important;
  }

  .submit span:first-child {
    color: #fff;
  }

  .submit:hover span:last-child {
    color: #fff;
  }

  .fixed-nav {
    top: 0 !important;
    background: #fff !important;
    z-index: 1000 !important;
    box-shadow: 2px 0px 7px #0000003b;
  }

  .fixed-nav div ul li a div span:first-child {
    color: #6e6e6e !important;
  }

  .fixed-nav div ul button {
    border: 2px solid #6e6e6e !important;
    color: #6e6e6e !important;
  }

  .fixed-nav div ul button:hover {
    border: 2px solid #f52225 !important;
  }

  .hover-md span:first-child {
    transform: translateY(1px);
    transition: 0.5s;
  }
  .navActive div span:first-child,
  .hover-md:hover span:first-child {
    transition: 0.5;
    transform: translateY(-29px);
  }

  .hover-md span:last-child {
    transition: 0.5s;
    transform: translateY(5px);
  }

  .navActive div span:last-child,
  .hover-md:hover span:last-child {
    color: red;
    transform: translateY(-29px);
  }

  .hover-btn span:first-child {
    transform: translateY(0);
    transition: 0.4s;
  }

  .hover-btn:hover span:first-child {
    transform: translateY(-35px);
  }

  .hover-btn:hover {
    border-color: #f52225;
  }

  .hover-btn span:last-child {
    color: #f52225;
    transform: translateY(10px);
    transition: 0.4s;
  }

  .hover-btn:hover span:last-child {
    transform: translateY(-30px);
  }

  .mobileNab__active {
    stroke: red;
  }

  .mobileNav__active svg,
  .mobileNav__active span {
    stroke: #f52225;
    color: #f52225;
    text-align: center;
  }

  /* download cv button*/
  .Download {
    margin-top: 1rem !important;
    border-color: #6e6e6e !important;
    font-weight: 500;
    color: #0f172a !important;
  }

  /*portfolio button responsive*/
  @media only screen and (max-width: 992px) {
    .portfolio:hover {
      border-color: #fff !important;
      color: #fff !important;
    }
    .portfolio:hover span:last-child {
      color: #fff !important;
    }
  }

  /* about line responsive */
  span.about-toltip::after {
    width: 2.8rem;
    left: 6rem;
  }

  /*** social media button ***/
  .socail__buttons button {
    border: none;
    transition: 0.2s;
    height: 32px;
    padding: 0 !important;
  }
  .socail__buttons button {
    font-size: 18px !important;
    font-weight: 500 !important;
    color: #6e6e6e;
  }
  ..socail__buttons button:hover span:first-child {
    opacity: 0;
  }

  /*** learn more button design ***/
  .services-card {
    transition: 0.5s;
  }
  .services-card:hover .learn-more span {
    width: 3rem;
  }

  .services-card:hover button span {
    color: #f52225;
  }

  .services-card:hover .learn-more span,
  .services-card:hover .learn-more span::after,
  .services-card:hover .learn-more span::before {
    background: #f52225;
  }

  .learn-more {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .learn-more span {
    transition: 0.5s;
    position: relative;
    width: 1.2rem;
    height: 2px;
    background: #6e6e6e;
    display: block;
    margin-top: 15px;
  }

  .learn-more span::before,
  .learn-more span::after {
    background: #6e6e6e;
    width: 6px;
    height: 1.5px;
    content: "";
    position: absolute;
    right: 0px;
  }

  .learn-more span::after {
    transform: rotate(-39deg);
    top: 2px;
    right: -1px;
  }

  .learn-more span::before {
    transform: rotate(39deg);
    top: -2px;
    right: -1px;
  }
}
